{% extends 'base.html' %}

{% load static humanize %}

{% block extra_styles %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css"
    integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
    crossorigin="anonymous" />
{% endblock extra_styles %}

{% block content %}
<!-- header -->
<h1 class="h3 mb-2 text-gray-800 mb-4">
    Resumen de Cuentas
</h1>
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            Resumen de Cuentas
        </li>
    </ol>
</nav>
<!-- forms -->
<div class="row">
    <div class="col-md-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Transferencia</h6>
            </div>
            <div class="card-body">
                <form action="{% url 'finanzas:cuentas' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="accion" value="transferencia">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fecha">Fecha</label>
                                {{transferencia_form.fecha}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="de_cuenta">De cuenta</label>
                                {{transferencia_form.de_cuenta}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="a_cuenta">A cuenta</label>
                                {{transferencia_form.a_cuenta}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="monto">Monto</label>
                                {{transferencia_form.monto}}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <input class="btn btn-success" type="submit" value="Transferir">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Filtro del Gráfico</h6>
            </div>
            <div class="card-body">
                <form action="{% url 'finanzas:cuentas' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="accion" value="filtro_fecha">
                    <div class="row">
                        {% for field in filtro_form %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <input class="btn btn-success" type="submit" value="Filtrar Transcciones">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- tables -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Activos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Cuenta</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cuenta in cuentas %}
                            <tr>
                                <td>
                                    <a href="{% url 'finanzas:transacciones' cuenta.slug %}">
                                        {{ cuenta.nombre }}
                                    </a>
                                </td>
                                <td>
                                    {{ cuenta.balance|intcomma }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- charts -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Gasto por Presupuesto {{ cabecera_grafico }}</h6>
            </div>
            <div class="card-body">
                <!-- pt-4 -->
                <div class="chart-pie">
                    <canvas id="gastoPresupuesto"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            language: "es"
        });
        // chart
        var ctx = document.getElementById('gastoPresupuesto');
        var gastoPresupuestoPie = new Chart(ctx, {
            type: "pie", // o doughnut
            data: {
                labels: [
                    "Direct", "Referral", "Social"
                ],
                datasets: [
                    {
                        data: [55, 30, 15],
                        backgroundColor: ["#4e73df", "#1cc88a", "#36b9cc"],
                        hoverBackgroundColor: ["#2e59d9", "#17a673", "#2c9faf"],
                        hoverBorderColor: "rgba(234, 236, 244, 1)",
                    },
                ],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: "#dddfeb",
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },
                legend: {
                    display: false,
                },
                cutoutPercentage: 80,
            },
        });
    });
</script>
{% endblock content %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"
    integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
    integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
    integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js"
    integrity="sha512-5pjEAV8mgR98bRTcqwZ3An0MYSOleV04mwwYj2yw+7PBhFVf/0KcE+NEox0XrFiU5+x5t5qidmo5MgBkDD9hEw=="
    crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js'
    integrity='sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=' crossorigin='anonymous'></script>
<script src="{% static 'js/init-datatables.js' %}"></script>
<script src="{% static 'js/init-chart-pie.js' %}"></script>
{% endblock extra_scripts %}