<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <i class="fas fa-hand-holding-usd"></i>
        </div>
        <div class="sidebar-brand-text mx-3">FinOps <sup>2</sup></div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Finanzas
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'finanzas:cuentas' %}">
            <i class="fas fa-fw fa-book"></i>
            <span>Cuentas</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'finanzas:presupuestos' %}">
            <i class="fas fa-fw fa-file-invoice"></i>
            <span>Presupuestos</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>